.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
.ant-pro-setting-drawer-handle {
  z-index: 1000;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}
html {
  box-sizing: border-box;
  font-size: 100px;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.ant-pro-top-nav-header-base-menu.css-dev-only-do-not-override-1dp1md5.css-dev-only-do-not-override-1ddgym.ant-pro-base-menu-horizontal.ant-pro-base-menu-horizontal-horizontal.css-dev-only-do-not-override-1ddgym {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
