# dependencies
/node_modules*
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist
# /public

/doc

# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local

.vscode
*.zip
*.mp4
# public large files
*/soundfont
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
