.planPage {
    width: 80vw;
    min-height: 100%;
    left: 0;
    right: 0px;
    margin: auto;
    overflow: 'auto';
}

.planTitle {
    font-weight: 700;
    font-size: .18rem;
}
.planText {
    font-size: .16rem;
    font-weight: bold;
    width: 3rem
}